Key-Type: {{ passbolt_gpgkey_type }}
Key-Length: {{ passbolt_gpgkey_length }}
Subkey-Type: {{ passbolt_gpgkey_subtype }}
Subkey-Length: {{ passbolt_gpgkey_sublength }}
Name-Real: {{ passbolt_gpgkey_name }}
Name-Email: {{ passbolt_gpgkey_email }}
Expire-Date: {{ passbolt_gpgkey_expiry }}
%commit
